/* core style  */

:root {
	--violet: #9453A6;
	--violet-darker: #663973;
	--violet2: #2c2f40;
	--blue: #5B83B3;
	--green:  #4e7334;
	--green2: #7fa646;
	--green3: #83A605;
	--green4: #AECC43;
	--yellow: #f2cb07;
	--fox:  #d97d5b;
	--foxy: #d96523;
	--black: #1a1a1a;
	--dark: #232323;
	--dark-grey: #2f2f2f;
	--grey: #444;
	--light-grey: #aaa;
	--light: #ccc;
	--white: #eee;
	
	--sans: 'IBM Plex Sans', sans;
	--mono: 'JetBrains Mono', Courier New, Courier, monospace;
	--icon: 'FontAwesome';
}

::-webkit-scrollbar { background-color: var(--black); }
::-webkit-scrollbar-thumb { background-color: var(--grey); }

::selection {
  background: var(--foxy);
  color: var(--white);
}

html {
	background-color: var(--dark);
}
body {
	font-family: var(--sans);
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: 20em 4px 1fr;
	color: var(--light);
	height: 100vh;
	overflow-y: hidden;
}

/* left panel  */

#left-panel {
	display: grid;
	grid-template-rows: 7em 1fr;
	overflow-x: hidden;
	position: relative;
	height: 100vh;
}
#input-forms {
	scrollbar-width: none;
	overflow-y: scroll;
	padding: 0 8px;
	padding-bottom: 5em;
}
#input-forms::-webkit-scrollbar {
	display: none;
}
#input-forms > div {
	border: 1px solid var(--grey);
	margin: 9px 0;
	border-radius: 12px;
	background-color: var(--dark);
}

#input-forms.oneonly > div > details > summary {
	display: none;
}
#input-forms.oneonly {
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#input-forms.oneonly > div {
	border: none;
	margin: 0;
	border-bottom: 1px solid var(--grey);
	border-radius: 0;
}
#input-forms.oneonly > div > .button {
	margin: 8px;
}
#input-forms.oneonly > div.add {
	margin: 0;
	border-top: 1px solid var(--grey) !important;
	border-radius: 0;
}
#input-forms.oneonly > div.add > .button {
	border-radius: 0;
	box-shadow: none;
	margin: 0;
}
#input-forms.oneonly > div.add > .button:first-child {
  border-right: 1px solid var(--grey) !important;
}
#input-forms.oneonly > div.add > .button:hover {
	background-color: var(--light-grey);
	color: var(--dark);
}

#input-forms > div > details > summary {
	font-weight: 700;
	height: 2.5em;
	display: flex;
	flex-direction: row;
	justify-content: center;
	border-bottom: 1px solid var(--grey);
	font-family: var(--mono);
	border-radius: 12px 12px 0 0;
	cursor: pointer;
}
#input-forms > div > details > summary > span {
	width: 100%;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#input-forms > div > details > summary > span:first-child {
	border-radius: 12px 0 0 0;
}
#input-forms > div > details > summary > span:last-child {
	border-left: 1px solid var(--grey);
	border-radius: 0 12px 0 0;
}
#input-forms > div > details > summary > span:hover {
	background-color: var(--light-grey);
	color: var(--dark);
}
#input-forms > div > details > summary::marker {
	content: none;
}

.add {
	display: flex;
	justify-content: stretch;
	border: none !important;
}
.add > .button:first-child  {
	margin-right: 8px;
}
.add > .button {
	width: 100%;
	margin: 0;
}

#credits {
	color: var(--grey);
	font-style: italic;
	padding: 0.3em 0.5em;
	z-index: -1;
	position: absolute;
	bottom: 0;
	font-size: 0.9em;
}

.textinput {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0em  0.6em;
}
.textinput:hover {
	background-color: var(--black);
}

.textinput > label {
	margin-right: 1em;
}
.textinput > input[type=text]  {
	width: 100%;
	height: 2.5em;
	max-width: 12em;
	padding-left: 0.5em;
	background: none;
	color: var(--light);
	font-weight: bold;
	border: none;
	border-bottom: 2px solid var(--violet);
	outline: none !important;
}
.textinput > input[type=text]:hover {
	border-bottom: 2px solid var(--foxy);
}


.dateinput {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 4em;
}
.dateinput > label {
	padding-left: 0.6em;
	display: flex;
	align-items: center;
	height: 100%;
}
input[type=datetime-local]  {
	height: 100%;
	background-color: var(--dark-grey);
	color: var(--light);
	font-weight: bold;
	font-family: var(--mono);
	border: none;
	padding-left: 0.6em;
}
input[type=datetime-local]:hover {
	background-color: var(--light-grey);
	color: var(--dark);
}

input[type=file] {
	display: none;
}

.uploadcontrol {
	margin-bottom: 4px;
	margin-top: 3px;
	cursor: pointer;
	height: 3em;
	position: relative;
}
.uploadcontrol:hover > .close {
	display: inline-flex;
}
.upload {
	display: inline-flex;
	height: 100%;
	width: 100%;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	background-color: var(--dark-grey);
	white-space: nowrap;
	cursor: pointer;
}
.upload > span {
	margin-left: 1em;
}
.upload:hover {
	background-color: var(--black);
}

.close {
	display: none;
	position: absolute;
	top: 8px;
	right: 8px;
	font-size: 1.5em;
	height: calc(3rem - 16px);
	width: calc(3rem - 16px);
	border-radius: 4px;
	background-color: var(--grey);
	justify-content: center;
	align-items: center;
	font-family: var(--icon);
	text-rendering: auto;
	--color: var(--black);
	color: var(--color);
}
.close::after {
	content: "\f00d";
	font-weight: 900;
	-webkit-text-stroke: 2px var(--color);
}
.close:hover {
	background-color: var(--black);
	--color: var(--grey);
}

.rulestags {
	margin-top: 0.4em;
}

.rulestags > .textinput {
	justify-content: start;
	flex-wrap: wrap;
	padding-left: 3px;
}

.rulestags > .textinput > label {
	margin: 0;
}

.filterbox {
	background: none;
	color: var(--light-grey);
	box-shadow: 0 0 0 1px var(--light-grey) inset;
	font-weight: 500;
	font-size: 0.9em;
	border-radius: 4px;
	padding: 0.15em 0.8em;
	margin: 3px;
	cursor: pointer;
	--tag: 'none';
}
.filterbox::after {
	content: var(--tag);
}
input[type="checkbox"]:checked+.filterbox {
	background-color: var(--light-grey);
	color: var(--dark);
}

.tagbox {
	background-color: var(--blue);
	font-weight: 500;
	color: var(--dark);
	font-size: 0.9em;
	border-radius: 4px;
	padding: 0.15em 0.8em;
	margin: 3px;
	cursor: pointer;
	--tag: 'none';
}
.tagbox:hover {
  color: var(--white);
}

.tagbox::after {
content: var(--tag);
}

input[type="checkbox"]:checked+.tagbox {
	background: none;
	color: var(--blue);
	box-shadow: 0 0 0 1px var(--blue) inset;
}

.eyebox {
	background-color: var(--violet);
	font-weight: bold;
	color: var(--dark);
	border-radius: 4px;
	padding: 0.24rem 0.24rem;
	margin: 3px;
	cursor: pointer;
	font-family: var(--icon);
	text-rendering: auto;
	font-size: 0.9em;
}
.eyebox::after {
	content: "\f06e";
}

input[type="checkbox"]:checked+.eyebox {
	background: none;
	color: var(--violet);
	box-shadow: 0 0 0 1px var(--violet) inset;
}

input[type="checkbox"]:checked+.eyebox::after {
	content: "\f070";
}

.uploadlogslabel {
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor:pointer;
	height: 3em;
	white-space: nowrap;
	justify-content: center;
	margin: 0;
	padding: 0;
	background-color: var(--violet-darker);
	font-size: 1.1em;
	font-weight: 600;
}

.uploadlogslabel:hover {
	background-color: var(--violet);
	color: var(--white);
}

#logname {
	font-size: 0.8em;
	font-family: var(--mono);
}
#logname > p {
	padding-left: 1em;
}

.button.active  {
	background-color: var(--green2);
	color: var(--dark);
	box-shadow: none;
}
.button.active:hover {
	background-color: var(--green4);
	color: var(--dark);
	box-shadow: none;
}
.button {
	color: var(--grey);
	box-shadow: 0 0 0 1px var(--grey) inset;
	display: flex;
	flex-direction: column;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
	overflow: hidden;
	height: 3em;
	font-weight: bold;
	font-size: 1.2em;
	border-radius: 6px;
	margin: 6px;
}
.button:hover {
	color: var(--light-grey);
	box-shadow: 0 0 0 1px var(--light-grey) inset;
}

.message {
	z-index: 1;
	position: fixed;
	background-color: var(--dark);
	border: 1px solid var(--grey);
	border-radius: 12px;
}

#error {
	width: fit-content;
	font-family: var(--mono);
	font-weight: 500;
	padding: 1em 2em;
	line-height: 2em;
	top: -9em;
	opacity: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.topmes {
	animation: top 3s ease-in;
}
@keyframes top {
	0% { top: -9em; opacity: 0;}
	10% { top: 2em; opacity: 1;}
	90% { top: 2em; opacity: 1;}
	100% { top: -9em; opacity: 0;}
}

.load {
	position: absolute;
	display: none;
	top: calc(50% - 4em);
	left: calc(50% - 4em);
	height: 8em;
	width: 8em;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	border-radius: 12px;
	font-weight: bold;
}
.flex {
	display: flex;
}

@keyframes loadr {
	0% {background-position: 200% 200%;
	background-image: linear-gradient(90deg, 
	var(--violet) 50%,
	var(--blue) 0);}
	25% {background-position: 0% 200%;
	background-image: linear-gradient(180deg, 
	var(--blue) 50%,
	var(--foxy) 0);}
	50% {background-position: 0% 0%;
	background-image: linear-gradient(270deg, 
	var(--green4) 50%,
	var(--foxy) 0);}
	75% {background-position: 200% 0%;
	background-image: linear-gradient(0deg, 
	var(--violet) 50%,
	var(--green4) 0);}
	100% {background-position: 200% 200%;
	background-image: linear-gradient(90deg, 
	var(--violet) 50%,
	var(--blue) 0);}
}
@keyframes loadt {
  0% {content: ".";}
  25% {content: "..";}
  50% {content: "...";}
  75% {content: "";}
  100% {content: ".";}
}
.load > div.animation {
    background-size: 200% 200%;
	border-radius: 12px;
	height: 4em;
	width: 4em;
	animation: loadr 2s cubic-bezier( 0.62, 0.21, 0.38, 0.85 ) infinite;
	margin-top: 0.6em;
}
.load > .text::after {
	content: '_';
	animation: loadt 2s linear infinite;
}

/* vertical separator */

#vrt {
	background-color: var(--dark);
	border-left: 1px solid var(--grey);
	cursor: col-resize;
}

#vrt:hover {
	background-color: var(--violet);
	border-left: 1px solid var(--violet);
}

/* workspace */
#workspaces {
	position: relative;
	bottom: 0vh;
	transition: bottom 0.5s ease-in-out;
}

.workspace {
	position: relative;
	box-shadow: inset 0 1px var(--grey), inset 0 -1px var(--grey);
	width: 100%;
	background-color: var(--dark);
	display: grid;
	grid-template-rows: 2.4em 1fr;
	height: 100vh;
}
.workspace.sp {
	grid-template-rows: 2.4em 3em 1fr;
}

.menu {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: start;
	padding: 4px 0 4px 1em;
	font-size: 0.9em;
	background-color: var(--black);
}

input[type="checkbox"] {
	display: none;
}
.checkbox {
	display: block;
	cursor: pointer;
	margin-right: 0.5em;
}
.toggler {
	height: 100%;
	background-color: var(--dark-grey);
	border-radius: 6px;
	padding: 0 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-weight: 700;
	color: var(--light-grey);
}
.open::after {
	content: "expand all";
}
input[type="checkbox"]:checked+.open {
	background-color: var(--violet-darker);
	color: var(--dark);
}
input[type="checkbox"]:checked+.open::after {
	content: "close all";
}
.selectaction {
	margin-right: 0.5em;
	cursor: pointer;
}
.selectaction:active {
	background-color: var(--light-grey);
	color: var(--dark);
}

.result {
	overflow-y: scroll;
	color: var(--light);
	position: relative;
	padding-bottom: 4em;
}
label.regex {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	padding: 0.5em 0.4em;
	height: 2em;
}
label.regex > input {
	font-family: var(--mono);
	font-weight: 400;
	border: none;
	font-size: 1.1em;
	color: var(--light);
	background: var(--dark-grey);
	padding: 0 0.5em;
	height: 100%;
	margin-right: 0.5em;
	border-radius: 4px;
	outline: none !important;
}
label.regex > input:hover {
	box-shadow: 0 0 0 2px var(--grey) inset;
}
label.regex > input:focus {
	box-shadow: 0 0 0 2px var(--violet) inset;
}
label.regex > .expression {
	width: 100%;
	max-width: 30em;
}
label.regex > .searchfile {
  width: 8em;
}
label.regex > .button {
	display: inline-flex;
	height: 1.7em;
	padding: 0 1em;
	margin: 0;
	font-size: 1.1em;
}



/* dynamically added elements (result)  */

.result > details {
	display: block;
	background-color: var(--dark);
	margin: 0.8em calc(0.8em - 3px);
	padding: 0;
	border-radius: 12px;
	border: 1px solid var(--grey);
}
:not(.sp) > .result > details.urgent {
	border: 1px solid var(--green2);
	box-shadow: 0px 0px 0px 1px var(--green2);
	background-color: var(--dark-grey);
}
:not(.sp) > .result > details.urgent:hover {
	box-shadow: 0px 0px 0px 2px var(--green2);
}
.result > details:hover {
	background-color: var(--black);
	box-shadow: 0px 0px 0px 2px var(--grey);
}

.result > details > summary {
	overflow-x: hidden;
	padding: 8px;
	color: var(--white);
	line-height: 1.5em;
	display: flex;
	align-items: center;
}

.result > details > summary::marker {
	content: none;
}
.result > details > summary > label > .selector {
	width: 1.7rem;
	height: 1.7rem;
	border-radius: 8px;
	vertical-align: text-top;
	background-color: var(--grey);
}
.selector::after {
	font-family: var(--icon);
	content: '\f061';
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	font-size: 1em;
	color: var(--dark);
	font-weight: 900;
	-webkit-text-stroke: 2px var(--dark);
}
.result > details:hover > summary > label > .selector {
	box-shadow: 0 0 0 1px var(--grey) inset, 0 0 0 4px var(--dark) inset;
	background-color: var(--dark);
}
.result > details[open] > summary > label > .selector::after {
	content: '\f063';
}
.result > details:hover > summary > label > .selector::after {
	content: none;
}
input[type="checkbox"]:checked+.selector {
	background-color: var(--foxy) !important;
	box-shadow: 0 0 0 1px var(--grey) inset, 0 0 0 4px var(--dark) inset;
}
input[type="checkbox"]:checked+.selector::after {
	content: none !important;
}
.result > details > summary > span > span {
	margin-left: 0.3em;
	padding: 0 0.3em;
	border-radius: 4px;
	font-weight: 700;
}
.count {
	background-color: var(--violet);
}
.tag {
	background-color: var(--blue);
	cursor: pointer;
}
.tag:active {
	background-color: var(--light);
	color: var(--blue);
}
.filter {
	background-color: var(--grey);
	color: var(--light-grey);
}
.copy {
	display: none;
	background-color: var(--foxy);
	cursor: pointer;
}
.copy > span {
	font-family: var(--icon);
	text-rendering: auto;
}
.copy > span::after {
	content: "\f0c5";
}
.copy:hover > span {
	display: none;
}
details:hover > summary > span > .copy {
	display: inline;
}
.result > details > summary > span > .copy:hover {
	padding: 0;
}
.copy > div.copymenu {
	display: none;
	border-radius: 4px;
	font-size: 0.8em;
	position: absolute;
	line-height: 1.5em;
}
.copy:hover > div.copymenu {
	display: inline-block;
}

.copymenu > div {
	background-color: var(--foxy);
	padding: 0.5em 1em;
	position: relative;
	bottom: 0.3em;
}
.copymenu > div:first-child {
	border-radius: 4px 4px 0 0;
}
.copymenu > div:last-child {
	border-radius: 0 0 4px 4px;
}
.copymenu > div:hover {
	background-color: var(--fox);
}
.copymenu > div:active {
	color: var(--foxy);
	background-color: var(--light);
}

.example {
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	margin: 0;
	font-family: var(--mono);
	font-weight: 500;
}

.filename {
	padding: 0.3em 0.5em;
	background-color: var(--grey);
	color: var(--yellow);
}

ul {
	margin: 0;
	padding: 0.5em 0.5em 0.5em 2.5ch;
	word-wrap: break-word;
	background-color: var(--dark);
}
.example:last-child > ul {
	border-radius: 0 0 12px 12px;
}

li {
	font-size: 0.9em;
	padding: 0.2em 0;
	padding-inline-start: 1ch;
}

li::marker {
	content: '->';
	color: var(--yellow);
}

li:nth-child(even) {
	color: var(--green4);
}
