<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Cache-control" content="no-cache">
	<meta name="_version" th:content="${_version}">
	<title th:text="${title}">JLogRep</title>
	<link href="style/style.css" rel="stylesheet">
	<link href="style/fonts.css" rel="stylesheet">
	<link rel="icon" type="image/x-icon" href="/favicon.png">
</head>
<!-- Your code here -->
<body id="grid">
<div id="left-panel">
	<div style="border-bottom: 1px solid var(--grey);">
		<label class="uploadlogslabel">
			<span id='uploadlogslabel'>upload logs</span>
			<input id='uploadlogs' name="bugreport" required="required" type="file">
		</label>
		<label id="logname"><p>...</p></label>
	</div>
	<div id="input-forms" class="oneonly">
		<div class="input-form">
			<details open>
				<summary title><span>Scan #1</span><span goto>-></span></summary>
				<div class="dateinput">
					<label>date/time</label>
					<input date type="datetime-local">
				</div>
				<div class="textinput">
					<label>year</label>
					<input year class="year" type="text">
				</div>
				<div class="textinput">
					<label>interval</label>
					<input interval type="text">
				</div>
				<div class="textinput">
					<label>show</label>
					<input show type="text">
				</div>
				<div class="rulestags">
					<div filters class="textinput"></div>
					<div tags class="textinput">
						<label class="checkbox">
							<input eye type="checkbox">
							<div class="eyebox"></div>
						</label>
					</div>
					<div rule class="uploadcontrol">
						<label id="defaultrules" class="upload">
							<span label>upload rules.yml</span>
							<input file type="file">
						</label>
						<span clear class="close"></span>
					</div>
				</div>
				<div dateFormat class="uploadcontrol">
					<label class="upload">
						<span label>upload dateformat.yml</span>
						<input file type="file">
					</label>
					<span clear class="close"></span>
				</div>
			</details>
			<div scan class="button active">
				BIG BUTTON TO SCAN
			</div>
		</div>
	</div>
	<div>
		<div id="error" class="message">
			<div>Code: <span style="color: var(--green4)">none</span></div>
			<div>Error: <span style="color: var(--violet)">js bug</span></div>
		</div>
		<div id="credits" th:text="${authors}">Placeholder for authors</div>
	</div>
</div>
<div id="vrt"></div>
<div id="workspaces">
	<div class="workspace" id="workspace">
		<div topmenu class="menu">
			<label class="checkbox">
				<input expand class="openbox" type="checkbox">
				<div class="toggler open"></div>
			</label>
			<div savetofile class="toggler selectaction">save</div>
			<div saveseltofile class="toggler selectaction">save selected</div>
			<div unselect class="toggler selectaction">unselect all</div>
		</div>
		<div result class="result"></div>
		<div load class="load message">
			<div class="animation"></div>
			<div class="text">loading</div>
		</div>
	</div>
</div>
<script src="js/version.js"></script>
<script src="js/handlers.js"></script>
<script src="js/parser.js"></script>
<script src="js/flexibility.js"></script>
</body>
</html>
